<h1>My Balances</h1>

<%# TODO: use vuex to store balance in global state and stop render ERB templates %>
<% for id, balance in current_user.balances %>
  <div class="balance">
    <%= Asset.find(id).name %>: <%= balance %>
    <%= link_to "Withdraw", new_withdrawal_path(withdrawal: {asset_id: id})%>
  </div>
<% end %>