<h1>My Balances</h1>

<%# TODO: use vuex to store balance in global state and stop render ERB templates %>
<% for id, balance in current_user.balances %>
  <div class="balance">
    <%= Coin.find(id).name %>: <%= balance %>
  </div>
<% end %>