<h1>Contact</h1>
<p>Feel free to call us at any time.</p>
<table class="table">
  <tr>
    <td>Address</td>
    <td>〒102-0084<br>千代田区二番町3-10-3F<br>
      <a href="https://www.google.com/maps/search/〒102-0084+千代田区二番町3-10" target="_blank">Google Maps</a>
    </td>
  </tr>
  <tr>
    <td>Phone</td>
    <td>03-6825-6305</td>
  </tr>
  <tr>
    <td>Fax</td>
    <td>03-6261-0389</td>
  </tr>
  
</table>