.container
  %h1.mt-5 Shitcoins.jp
  .card
    .card-body
      %table.table
        %tr
          %td= t '.address'
          %td
            〒102-0084
            %br
            東京都千代田区二番町3-10-3#{t '.f'}
            %br
            %a{:href => "https://www.google.com/maps/search/〒102-0084+千代田区二番町3-10", :target => "_blank"}= t '.google_maps'
        