.container
  %h1.mt-5 All assets
  %p Sorted by 24h volume
  .card
    .card-body
      %table.table
        %tr
          %th Asset
          %th 24h volume
          %th 24h pricing
        - @assets.each do |asset|
          %tr
            %td= link_to asset.name, asset
            %td
              = asset.volume24h(current_quote_asset)
              = current_quote_asset.symbol
            %td
              - cache asset do
                = line_chart asset.hourly_prices_24h(current_quote_asset), height: '66px', width: '320px'
