<h1>ADMIN / Coins</h1>

<table>
  <thead>
    <tr>
      <th>Coin</th>
      <th>Symbol</th>
      <th>User's balances</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @coins.each do |coin| %>
      <tr>
        <td><%= coin.name %></td>
        <td><%= coin.symbol %></td>
        <td><%= coin.sum_balances %></td>
        <td><%= link_to 'Check hot wallet balance', coin.wallet_url(coin.platform.hot_wallet_address), target: '_blank' %>
      </tr>
    <% end %>
  </tbody>
</table>
