@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import "bootstrap";
@import "*";

body {
  font-family: Noto Sans Japanese,Lucida Grande,Tahoma,Verdana,sans-serif;
  font-size: 16px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.home-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.page_content {
  background: #f9f9f9;
  font-weight: 200;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  img {
    max-width: 100%;
  }
  td {
    border: 1px solid #eee;
  }
}