// Place all the styles related to the assets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.asset_top_wrapper {
  padding: 80px 0;
  text-align: center;
  .hero_well {
    background: rgba(255, 255, 255, 0.8);
    padding: 60px;
    .logo {
      display: inline-block;
      vertical-align: middle;
      margin-right: 12px;
    }
    .name {
      vertical-align: middle;
      display: inline-block;
      font-weight: 100;
      font-size: 58px;
    }
  }
  .buttons {
    margin-top: 48px;
  }
}
.asset_description_wrapper {
  text-align: center;
}

.asset.card {
  margin-top: 32px;
  min-width: 50%;
  flex: 1 0 40%; // we want only 2 cards in a row at max

  .card-logo {
    width: 84px;
    height: 84px;
    border-radius: 42px;
    // border: 1px solid #ccc;
    left: 50%;
    top: -22px;
    background: white;
    padding: 4px;
    position: absolute;
    transform: translate(-50%, 0);
    img {
      width: 76px;
      height: 76px;
      border-radius: 42px;
    }
  }
  .card-footer {
    border: none;
    background: none;
  }
  .card-body {
    margin-top: 48px;
    .card-title {
      text-align: center;
      font-size: 36px;
    }
    .card-text {
      padding: 12px;
      background: rgba(255, 255, 255, 0.8);
    }
  }
}
.page_content {
  img {
    max-width: 100%;
  }
}