<p id="notice"><%= notice %></p>
<h1>Authorization Codes</h1>
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Token</th>
      <th>Used at</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<br>
<%= link_to 'New Authorization Code', login_url %>