<h1>Please enter your email address</h1>
<p>We don't use passwords. Enter your email address and we will send you a private link to your dashboard.</p>
<%= render 'form', authorization_code: @authorization_code %>