.container
  %h1.mt-5 Awesomeness awaits
  .card
    .card-body
      %p Please request a secret link to your dashboard 
      = render 'form', authorization_code: @authorization_code
      %p By requesting a secret link, you agree to
      %ul
        %li never invest more than you can afford to lose.
        %li not hold the operators liable for any loss of funds due to bugs or hacks.
        %li report bugs and issues to maybewecanbehappytogether@shitcoins.jp
